html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}
.site-header {
  padding: 12px 0 12px 0;
  background-color: #F9F8F8;
}
.site-container{
  width: 1240px;
  margin: 0 auto;
}
.site-item-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__menu {
  margin-left: 75px;
  color: #333333;
  font-size: 14px;
}
.site-icon__menu {
  margin-right: 9px;
  color: #FFBD54;
}
.site-icon__circles {
  display: flex;
  align-items: center;
}
.phone-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #333333;
}
.phone-link:hover {
  color: #FFBD54;
}
.phone-link:active {
  opacity: 0.5;
}
.siteicon__circle {
  margin: 0 9px 0 9px;
  font-size: 5px;
  color: #FFBD54;
}
.site-section {
  background-color: #ffffff;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
}
.site-nav__item {
  display: flex;
  align-items: center;
}
.site-nav__menu {
  margin-left: auto;
}
.site-logo__link {
  display: inline-block;
}
.site-logo__link:hover {
  opacity: 0.8;
}
.site-logo__link:active {
  opacity: 0.5;
}
.site-logo__photo {
  position: absolute;
  top: 20px;
}
.site-nav__list {
  margin-left: 25px;
  padding: 0;
}
.site-nav__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  padding: 20px 15px 20px 15px;
}
.site-nav__link:hover {
  background-color: #FFBD54;
}
.site-nav__link:active {
  background-color: rgba(255, 189, 84, 0.5);
}
.site-paw__link {
  margin-left: 80px;
}
.site-button {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
}
.site-button:hover {
  background-color: black;
  color: #ffffff;
}
.site-nav__fish {
  color: #78C0DE;
  margin-right: 5px;
}
.site-nav__span {
  color: #FFBD54;
  margin-right: 5px;
}
.site-button:active {
  opacity: 0.5;
}
.site-backgraun__img {
  display: flex;
  background-size: 100%;
  height: 900px;
  background-position:top center;
  background-repeat: no-repeat;
  background-image: url("../img/img.png");
}
.site-section__container {
  width: 1050px;
  margin: 0 auto;
}
.site-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-left: auto;
  padding-top: 220px;
  padding-bottom: 153px;
}
.site-box__title {
  font-size: 50px;
  margin: 0;
}
.site-box__title span {
  color:#78C0DE;
}
.site-box__text {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}
.site-box__link {
  display: inline-block;
  width: 150px;
  padding: 15px 30px 15px 30px;
  background-color: black;
  color: #ffffff;
  text-decoration: none;
}
.site-box__link:hover {
  background-color: #FFBD54;
  color: black;
}
.site-box__link:active {
  opacity: 0.5;
}
.site-about__border {
  width: 150px;
  margin: 0 auto;
  border: 1px solid #DBDBDB;
  margin-bottom: 40px;
}
.site-about__text {
  position: relative;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #949494;
  font-size: 20px;
}
.siteimg-rose {
  position: absolute;
  top: -20px;
  left: -80px;
}
.site-about__img {
  position: absolute;
  right: -80px;
  bottom: -10px;
}
.site-about__border2 {
  margin-top: 40px;
}
.site-abouttext {
  color: black;
}
.site-we {
  padding-top: 90px;
  padding-bottom: 120px;
}
.site-we__title {
  text-align: center;
  margin-bottom: 80px;
}
.site-cards {
  display: flex;
  justify-content: space-around;
}
.site-card {
  width: 150px;
  height: 175px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 25px;
}
.site-card:hover {
  color: #FFBD54;
}
.site-card:active {
  opacity: 0.5;
}
.site-card p {
  margin-top: 21px;
  margin-bottom: 0;
}
.site-card__box {
  height: 190px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.site-cards button {
  outline: none;
  cursor: pointer;
  background-color: #E5E5E5;
  font-size: 30px;
  color: #FFBD54;
  border: none;
}
.site-cards span {
  padding: 5px 8px;
}
.site-cards span:hover {
  background-color: #ffffff;
}
.site-cards span:active {
  opacity: 0.5;
}
.site-cards__box {
  width: 940px;
  margin:0 auto;
  display: flex;
  align-items: center;
  padding: 35px 20px 35px 20px;
  background-color: #ffffff;
}
.cards-box {
  margin-left: 40px;
}
.cards-box__title {
  text-align: left;
  margin-bottom: 0;
}
.cards-box__text {
  margin-bottom: 20px;
  color: #949494;
}
.cards-box__link {
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  background-color: #FFBD54;
  padding: 16px 36px 16px  36px;
  color: #333333;
}
.cards-box__link1 {
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  margin-left: 15px;
  width: auto;
}
.cards-box__img {
  margin-right: 8px;
}
.site-course_bg {
  background-image: url("../img/Mask\ Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.site-course {
  margin-left: 190px;
  position: relative;
  padding: 60px 0 60px 0;
}
.site-course h2 {
  color: #fff;
  font-size: 30px;
}
.site-course img {
  position: absolute;
  right: 0;
  top: -64px;
}
.site-course__input {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.site-course__input::placeholder{
  color: #000;
}
.site-course__button {
  cursor: pointer;
  outline: none;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: black;
  color: #fff;
}
.site-course__button:hover {
  color: #000;
  background-color: #FFBD54;
}
.site-course__button:active {
  opacity: 0.5;
}
.site-articles {
  padding-top: 100px;
  padding-bottom: 200px;
}
.site-articles__boxs {
  display: flex;
}
.site-articles__item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.site-articles__item img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.site-articles__box {
  border: 1px solid #F4F4F3;
  border-top: none;
  padding: 21px 30px 21px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-grow: 1;
}
.site-articles__span {
  margin-left: 164px;
  font-size: 14px;
  color: #949494;
}
.site-articles__boxtitle {
  font-size: 22px;
  margin-top: 2px;
}
.site-articles-title {
  margin-top: 32px;
}
.site-articles-text {
  color: #949494;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 36px;
}
.site-articles__boxsitem {
  display: flex;
  margin: 0 24px 0 24px;
  border-radius: 5px;
}
.site-articles__boxsitem img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.site-articles__links{
  text-decoration: none;
  color: #3D9CEA;
  font-size: 14px;
  margin-right: 3px;
}
.site-articles__links:hover {
  color: #FFBD54;
}
.site-articles__links:active{
  opacity: 0.5;
}
.site-articles__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.site-articles__item--link:hover {
  color: #FFBD54;
}
.site-articles__item--link:active{
  opacity: 0.5;
}
.site-articles__linkspan {
  color: #FFBD54;
  margin-right: 5px;
}
.site-articles__textspan {
  margin-left: 50px;
  font-size: 14px;
  color: #949494;
}
.site-articles__text {
  display: flex;
  flex-direction: column;
  width: 335px;
  padding: 21px 30px 21px 30px;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.site-contact__section {
  padding-bottom: 200px;
}
.site-boxs__contact {
  display: flex;
  justify-content: center;
}
.site-map__box {
  display: flex;
}
.site-map__box iframe {
  flex-grow: 1;
}
.site-contact__box {
  background-color: black;
  padding: 60px 166px 60px 166px;
}
.site-contact__boxtitle {
  font-size: 46px;
  color: #fff;
  margin: 0;
}
.site-contact__boxtext {
  color: #949494;
  font-size: 16px;
  line-height: 20px;
}
.site-contact__form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.site-contact__form input {
  width: 375px;
  outline: none;
  padding: 13px 22px 13px 22px;
  margin-bottom: 10px;
  font-size: 16px;
}
.site-contact__form textarea {
  outline: none;
  resize: vertical;
  padding: 0;
  width: 375px !important;
  height: 165px;
  margin-bottom: 30px;
  padding: 13px 22px 13px 22px;
}
.site-contact__form button {
  cursor: pointer;
  border: none;
  background-color: #FFBD54;
  outline: none;
  font-size: 16px;
  color: #fff;
  width: 226px;
  padding: 15px 0 15px 0;
}
.fish-img {
  position: absolute;
  right: -160px;
}
.site-footer {
  background-color: #F3F3F3;
  padding: 40px 0 0 0;
}
.site-footer__boxs {
  display: flex;
}
.footer-link {
  list-style-type: none;
}
.site-footer__link{
  display: inline-block;
  margin-left: 67px;
  margin-right: 70px;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  padding: 3px 5px 3px 5px;
}
.site-footer__link:hover{
  background-color: #FFBD54;
}
.site-footer__link:active{
  opacity: 0.5;
}
.site-footer-item {
  list-style-type: none;
}
.site-footer__list {
  display: flex;
}
.copy {
  text-align: end;
  margin: 0;
}